<div class = mb-4>
    <% messages.each do |message| %>
        <ul>
            <li><%= message.user.name %> : <%= message.body %>　　　　書き込んだ時間： <%= message.created_at %></span></li>
            <div>
                <%= link_to "ルームに遷移する", room_path(message.room) %>
            </div>
        </ul>
    <% end %>
</div>

<%= paginate messages %>

