<p>< <%= @room.user.name =%>と<%= @room.participate.name %>のチャットルーム ></p>


<%= form_with model: @message, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
    <%= f.text_area :body, class:"form-control" %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "投稿",class: 'form-submit'%>
<% end %>


<p class= mt-4>メッセージ一覧</p>
<%= render 'messages/messages', messages: @message_list %>

<%= link_to 'このチャットルームを削除する', @room, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>