<p>< <%= @room.user.name =%>と<%= @room.participate.name %>のチャットルーム ></p>

<%= form_with(model: @message, local: true) do |f| %>
    <%= f.text_field :body, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "投稿",class: 'form-submit'%>
<% end %>


<p class= mt-4>メッセージ一覧</p>
<%= render 'messages/messages', messages: @message_list %>

<%= link_to '削除', @room, method: :delete %>